<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Blitz <small>PoweredbySpritz™</small></h1>
  <p>Blitz (formally EZPub) is an online tool designed to help you read your eBooks faster, easier, and more effectively by using the power of <strong><a href="http://www.spritzinc.com/">Spritz</a></strong>.</p>
  <p>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %>
    <br />
    <a id="why" data-toggle="tooltip" data-placement="top" title="We use Facebook Authentication as a simple way to keep track of the books you upload." style="font-size:0.5em;">why?</a>
  </p>
</div>

<div class="row">
  <div align="middle">
    <div class="well">
      <div class="fb-like" data-href="https://read-blitz.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
  </div>
</div>

<hr>

<div>
  <h1>Screenshots</h1>
  <br />
  <h2>Book Cover</h2>
  <br />
  <div align="middle">
    <%= image_tag("screenshot1.jpg", :alt => "Front Page", :width => "75%") %>
  </div>
  <br />
  <h2>Spritz'ing eBook Content</h2>
  <div align="middle">
    <%= image_tag("screenshot2.jpg", :alt => "Spritz", :width => "75%") %>
  </div>
  <em>Book: <strong>The Next America</strong> by Paul Taylor</em>
</div>

<script>
  $('#why').tooltip()
</script>
