
<div class="jumbotron">
	<h1 align="middle">EZPub</h1>
	<p>
		EZPub (pronounced <em>easy-pub</em>) is an online tool, PoweredbySpritz™, designed to help you read your eBooks faster, easier, and more effectively. In order to read at higher speeds, you must first register by clicking the "Login" link at the top right corner of the Spritz Redicle™.
		<br />
		This app was strongly inspired by <strong><a href="http://www.spritzinc.com/">Spritz</a></strong> and <strong><a href="http://www.readsy.co/">Readsy</a></strong>.
	</p>
	<p align="middle">
		Fork me on <a href="https://github.com/hyperbit/ezpub">GitHub</a>.
	</p>
	<h1 align="middle">About the Developer</h1>
	<p>
		My name is <a href="http://www.jcano.me">Justin Cano</a> and I am a recent graduate from the University of California, Riverside with a BS in Computer Engineering. I am currently in process of searching for a full time Software Engineering position. If you would like to work with me or have any other inquiries, feel free to <%= link_to "contact me", contact_path %>.
	</p>

</div>
