<div class="jumbotron">
	<div align="middle">
		<p>
			<h1>Contact</h1>
			<ul class="list-unstyled">
				<li>Justin Cano</li>
		  		<li><a href="http://www.jcano.me">Website</a></li>
		  		<li><a href="http://blog.jcano.me">Blog</a></li>
		  		<li><a href="http://www.github.com/hyperbit">GitHub</a></li>
		  		<li><a href="https://portfolium.com/justincano">Portfolium</a></li>
		  		<li><a href="mailto:jcano001@ucr.edu">Email</a></li>
			</ul>
		</p>
	</div>
</div>