<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= sanitize(strip_links(page.force_encoding('UTF-8'))) %></td>
      </tr>
    <% end %>
  </tbody>
</table>