<% if !@ebook.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @ebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div align="middle">
    <div class="well">
      <%= form_for @ebook, html: { multipart: true } do |f| %>
        <%= f.file_field :attachment %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>