<!DOCTYPE html>
<html>
<head>
  <title>EBook</title>
		<!--
	Global settings for the examples. This must come before the spritzjs script tag
	for automatic setup.
	-->
	<script type="text/javascript">
		var SpritzSettings = {
			clientId: "4524122930975538943",
			redirectUri: "/login_success.html",
			
		};
	</script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="padding-top:20px;">
	<div data-role="spritzer"></div>